<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Portfolio</title>
  </head>
  <body>
    <header>
      <a class="navbar-brand" href="#">YOGI <span>DELFIANDRA</span></a>

      <nav class="nav flex-column text-center navbar__a">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Service</a>
        <a class="nav-link">Experience</a>
        <a class="nav-link">Portfolio</a>
        <a class="nav-link">Contact</a>
      </nav>

      <div class="social__media text-center">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
      </div>
    </header>

    <main>
      <section class="homepage">
        <div class="content"></div>
      </section>
    </main>
  </body>
</html>
