<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Portfolio</title>
  </head>
  <body>
    <!-- Custom Cursor -->
    <div class="cursor__1"></div>
    <div class="cursor__2"></div>

    <div id="menu__hamburger"><i class="bi bi-list"></i></div>

    <header class="d-flex">
      <a class="navbar-brand" href="#">Portfo<span>lio.</span></a>

      <nav class="navbar__a">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Service</a>
        <a class="nav-link" href="#">Experience</a>
        <a class="nav-link" href="#">Portfolio</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>

      <div class="social__media">
        <a href="#"><i class="bi bi-github"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-bootstrap"></i></a>
      </div>
    </header>

    <main>
      <section class="row align-items-center homepage">
        <div class="col-7 home__content">
          <span class="text__1">Hello, my name is</span>
          <h1 class="text__2">Yogi Delfiandra</h1>
          <p class="text__3">And I'm a <span class="typing"></span></p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            expedita libero officia? Vero, dolore reprehenderit eligendi laborum
            unde necessitatibus saepe beatae eius accusamus cumque delectus modi
            minus ipsam doloribus voluptatibus.
          </p>
        </div>
        <div class="col-4 offset-1 image__profil">
          <img src="../public/images/profile-1.png" alt="yogidelfiandra" />
        </div>
      </section>
    </main>
  </body>
</html>
